<h1>Sports Cities</h1>
<hr>

<h3>List of Cities with Sports teams</h3>

<ul>
  <% @cities.each do |city| %>
    <li>
      <%= link_to city.name, city_path(city.id) %>
    </li>

  <% end %>
</ul>

<br>
<br>
<hr>
<%= link_to "Create a New City", new_city_path %>
